
:root {
   
   --color-neutral-light:#f2c9cc;
   --color-neutral-medium:#f3a8ad;
   --color-neutral-dark:#f1878e;

   }

body {
   background-color:#f8f8fa;
   padding-bottom: 10em;
}


@media (max-width:500px) {
   :root {
      --header-height:2rem;
   }
}


/*.recommended-widget{
  padding: 1em;
}*/

.recommended-widget img{
  max-width: 100%;

}